.instagram-photo-feed__caja-imagen{
  width: 32%;
  aspect-ratio: 1/1;
}

/*PARA QUE OBJECT FIT FUNCIONE LA IMAGEN 
DEBE TENER UN TAMAÑO DEFINIDO*/
.instagram-photo-feed__caja-imagen img{
  width: 100%;
  height: 100%;
}

.ig-post{
  width: 35%;
  min-width: 300px;
}